html
{
	min-width: 650px;
}

body
{
	background-color: #666666;
	margin: 0px;
	padding: 0px;
	font-family: Arial, sans-serif;
	font-size: 12pt;
	line-height: 1.2;
	min-width: 650px;
}

hr
{
	display: none;
}

.hidden
{
	display: none;
}

/** Header **/
#social
{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: #666666;
	padding: 5px 0px 0px 5px;
	z-index: 1;
}

.icons span
{
	display: none;
}

.twitter:after
{
	content: url('images/i_twitter.png');
}

.fb:after
{
	content: url('images/i_fb.png');
}

.linkedin:after
{
	content: url('images/i_linkedin.png');
}

#topmenu a 
{
	color: white;
	text-transform: lowercase;
	position: fixed;
	top: 5px;
	right: 0px;
	z-index: 2;
	margin-right: 20px;
}

#topmenu a:after
{
	content: url('images/loginlink.png');
}


.inner h1 a span
{
	display: none;
}

.inner h1 a:after
{
	content: url('images/logo.png');
}

#header
{
	background-color: #F7F8FF;
	padding: 30px 0px 0px 0px;
}

#header a
{
	text-decoration: none;
}

#menu
{
	list-style-type: none;
	padding-right: 30px;
}

#menu li
{
	display: inline;
	margin-right: 20px;
}

#menu li a 
{
	border-radius: 5px;
	border: 1px solid white;
	color: grey;
	line-height: 50px;
}

.dropdown a
{
	background-image: url("images/caretb.png");
	background-repeat: no-repeat;
	background-position: 85% 50%;
	padding: 15px 30px 15px 20px;
}

#menu li:not(.dropdown) a
{
	padding: 15px 20px 15px 20px;
}

#menu li.selected a, #menu li.selected a:hover
{
	text-decoration: none;
	background-color: #42B3E5;
	border-radius: 5px;
	color: white;
	border: 0px;
	background-image: url("images/caretw.png");
}

#menu li a:hover
{
	background-color: white;
	color: grey;
}

#header h1
{
	padding-left: 20px;
}

#menubar
{
	position: relative;
	bottom: 20px;
}

#menubar, #header h1, #social, #topmenu
{
	display: inline-block;
}

#header .inner:after
{
    width: 100%;
    height: 0;
    font-size: 0;
    line-height: 0;
    content: '';
    display: inline-block;
}


#header .inner
{
	text-align: justify;
	margin-bottom: -40px;
}



/** Content **/
.inner
{
	max-width: 1200px;
	margin: 0px auto;
}

#main
{
	background-color: #FFFFFF;
	padding: 10px 15px 30px 15px;
}

#main h3
{
	color: #3F5673;
	margin: 20px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}


#main h2
{
	font-size: 42px;
	color: #3F5673;
	margin: 20px 0px 40px 0px;
	padding: 0px 0px 0px 0px;
}

#main section h3
{
	font-size: 32px;
}

#main header p
{
	font-style: oblique;
}

.btn
{
	float: right;
	position: relative;
	bottom: 30px;
	z-index: 0;
}

.btn a
{
	text-decoration: none;
	padding: 15px 20px 15px 20px;
	border-radius: 5px;
	color: white;
	border: 0px;
	font-weight: bold;
	font-style: normal;
}

.docs a
{
	background-color: #42B3E5;
	margin: 0px 20px 0px 20px;
}

.demo a
{
	background-color: #FAA732;
	margin-right: 80px
}

.inner header
{
	margin-bottom: 50px;
}

section img
{
	padding: 20px 0px 20px 10px;
	float: right;
}

#main section
{
	padding-top: 10px;
    border-top: 1px solid #CCCCCC;
}

/*************/

#related
{
	background-color: #3F5673;
	padding: 5px 15px 20px 15px;
	height: 330px;
	font-size: 11pt;
}

#related p, #related h3, #related h4, #related a
{
	color: #F7F8FF;
}

#related strong
{
	color: #42B3E5;
}

aside a
{
	text-decoration: none;
}

#related section
{
	display: inline-block;
	width: 36%;
	padding: 0px 15px 0px 0px;
	margin: 0px;
}

aside
{
	display: inline-block;
	width: 60%;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

.col p, .col h4
{
	padding: 0px;
	margin: 0px;
}

.col p
{
	height: 66px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.col strong:after
{
	content: "...see more...";
	float: right;
	position: relative;
	right: 5%;
	bottom: 5px;
	cursor: pointer;
	font-size: 11pt;
}

.col h4
{
	font-size: 16px;
}

#references
{
	display: inline-block;
	width: 45%;
	padding: 0px 15px 0px 0px;
	margin: 0px;
	vertical-align: top;
}

#didyouknow
{
	display: inline-block;
	width: 49%;
	padding: 0px;
	margin: 0px;
}

#related strong
{
	color: #42B3E5;
	margin: 10px 0px 30px 15px;
	display: block;
}

.sgn
{
	color: #42B3E5;
	margin: 5px 0px 30px 15px;
	display: block;
	font-size: 11pt;
}

/** Footer **/
footer
{
	padding: 0px 0px 0px 0px;
	font-size: 11pt;
}

.menu
{
	position: absolute;
	right: 0px;
	padding-bottom: 15px;
}

.menu li
{
	list-style-type: none;
	display: inline;
	margin-right: 20px;
}

.menu li a
{
	color: #F7F8FF;
}

.copy
{
	color: #F7F8FF;
	position: absolute;
	left: 0px;
	padding-top: 15px;
	margin-left: 20px;
}
